.blog {
  background: linear-gradient(45deg, #eecfba, #c5dde8);
  border-radius: 60px;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 40px 10px 40px 70px;
  text-align: center;
}
.blog-navbar {
  display: flex;
  justify-content: space-between;
}

.blog-title {
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
}

.blogs-list div.hide {
  display: none;
}


.sort-search-input {
  position: relative;
}

.clear-search {
  position: absolute;
  top: 6px;
  left: 85px;
  cursor: pointer;
}

.sort-word {
  background: #3943f5;
  border: none;
  border-radius: 60px;
  height: 40px;
  width: 100px;
  color: white;
  cursor: pointer;
}
.sort-word:hover {
  background: #666ded;
}
.sort-date {
  margin-bottom: 20px;
  background: #3943f5;
  border: none;
  border-radius: 60px;
  height: 40px;
  width: 100px;
  color: white;
  cursor: pointer;
}
.sort-date:hover {
  background: #666ded;
}
.sort-search {
  padding-left: 5px;
  background: #767be4;
  border: none;
  border-radius: 60px;
  height: 40px;
  width: 100px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.sort-search:hover {
  background: #666ded;
  
}
.sort-search::placeholder {
  color: white;
}

.blog label {
  font-size: 16px;
}
.blog-title__input {
  border: 2px solid rgb(123, 43, 0);
  border-radius: 10px;
  width: 50%;
  height: 40px;
  /* margin-bottom: 50px; */
  padding-left: 5px;
  font-size: 16px;
}

.blog-title__valid{
  display:block;
  color: black;
  margin-bottom: 50px;
  margin-right: 23%;
  font-size: 13px;
}

.blog-info__textarea {
  overflow: hidden;
  border: 2px solid rgb(123, 43, 0);
  border-radius: 10px;
  width: 50%;
  height: 40px;
  /* margin-bottom: 50px; */
  padding: 5px;
  resize: none;
  font-size: 16px;
}

.blog-info__counter{
  display: block;
  color: black;
  font-size: 12px;
  margin-bottom: 60px;
  text-align: start;
  margin-left: 25%;
}

.blog button {
  background: #3943f5;
  border: none;
  border-radius: 60px;
  height: 40px;
  width: 30%;
  color: white;
}

.new-blog {
  border: solid 5px rgb(71, 135, 176);
  border-radius: 60px;
  background: linear-gradient(45deg, #f1e0fd, #eafc9c);
  padding: 30px 30px 30px 30px;
  margin-bottom: 30px;
}
.new-blog-nav {
  display: flex;
  justify-content: space-between;
}

.new-blog__title {
  font-size: 30px;
  margin-bottom: 30px;
}

.cl-btn-4 {
  width: 30px;
  height: 30px;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  border-color: #337ab7;
  background: #337ab7;
  position: relative;
  z-index: 200;
  text-indent: -9999px;
  cursor: pointer;
}
.cl-btn-4:before,
.cl-btn-4:after {
  content: '';
  width: 80%;
  height: 3px;
  background: #bfe2ff;
  position: absolute;
  top: 48%;
  left: 10%;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
}
.cl-btn-4:after {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}
.cl-btn-4:hover:before,
.cl-btn-4:hover:after {
  transform: rotate(180deg);
  background: #fff;
}

.new-blog__info {
  font-size: 24px;
  margin-bottom: 30px;
  max-width: 100%;
}

.new-blog__date {
  font-size: 14px;
  text-align: center;
}
